.hero {
    display: flex;
    flex-direction: column;
    text-align:center ;
    gap: 0.5rem;
  }

  .hero h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .hero h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }


  .project-gallery  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(var(--default-spacing) * 2) var(--default-spacing);


  }

  .project-featured {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: var(--default-spacing);
    padding: 1rem;
  }

  .project-card {
    text-decoration: none;
    color: inherit;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--text-color) 0px 0px 4px;
    transition: transform 0.3s ease;
  }

  .project-card:hover {
    transform: translateY(var(--default-spacing));
  }

  .project-card h3 {
    padding: var(--default-spacing);
    text-align: center;
  }



  .project-image-wrapper {
    position: relative;
    width: 100%;
    height: 13rem;
    overflow: hidden;
  }

  .project-image-wrapper:hover .project-tags {
    opacity: 1;
    transform: translateY(0);
  }

  .project-image {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }

  .project-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(var(--background-lighter-rgb), 0.75);
    color: var(--text-color);
    text-align: center;
    padding: var(--default-spacing);
    opacity: 0.8;
    z-index: 1;
  }

  .title-tag {
    display: inline-block;
    font-size: 0.9rem;
    background: none;
  }

  .project-tags {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(var(--background-lighter-rgb), 0.7);
    color: var(--text-color);
    text-align: center;
    padding: var(--default-spacing);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(100%);
    display: flex;
    justify-content: left;
    overflow-y: auto;
  }

  .tag {
    flex-wrap: nowrap;
    display: inline-block;
    margin: 0 var(--default-spacing);
    font-size: 0.9rem;
    background: rgba(var(--background-lighter-rgb), 0.75);
    padding: 0.25rem 0.25rem;
    border-radius: 10px;
  }
