
@import './global.css';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-spacing) 0;
    border-bottom: 1px solid rgba(var(--text-color-rgb), 0.8);
  }

  .nav-left, .nav-right {
    display: flex;
    align-items: center;
  }

  .nav-link {
    margin-right: var(--default-spacing);
    padding: var(--default-spacing) var(--default-spacing);
    border-radius: 5px;
    text-decoration: none;
    color: rgba(var(--text-color-rgb), 0.8);
    font-weight: bold;
  }
  .nav-link:hover {
    background-color: rgba(var(--background-normal-rgb), 1);
    color: var(--text-color);
  }

  .social-icon {
    margin-left: var(--default-spacing);
    text-decoration: none;
    color: rgba(var(--text-color-rgb), 0.8);
  }

  /* Dropdown styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-btn {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color: rgba(var(--text-color-rgb), 0.8);
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }

  .dropdown-content a {
    background-color: rgba(var(--background-normal-rgb), 1);
    color: rgba(var(--text-color-rgb), 0.8);
    padding: var(--default-spacing) var(--default-spacing);
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: rgba(var(--background-darker-rgb), 1);
    color: var(--text-color);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
