:root {
    --background-lighter: #24242e;
    --background-normal: #20202a;
    --background-darker: #1e1e28;
    --text-color: #ffffff;
}

[data-theme="dark"] {
    --background-lighter: #24242e;
    --background-normal: #20202a;
    --background-darker: #1e1e28;
    --text-color: #ffffff;
}

[data-theme="light"] {
    --background-lighter: #f5f5f5;
    --background-normal: #ffffff;
    --background-darker: #e0e0e0;
    --text-color: #000000;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-darker);
    color: var(--text-color);
    font-family: "Merriweather", serif;
    font-size: 16px;
}

.container {
    display: flex;
    width: 98vw;
    height: 98%;
    gap: 1rem;
}

.about {
    flex: 2.5;
    border-radius: 0.25rem;
    background-color: var(--background-lighter);
    display: flex;
    flex-direction: column;
}

.content {
    flex: 11;
    border-radius: 0.25rem;
    background-color: var(--background-lighter);
    padding: 1rem 1rem;
    overflow-y: auto;
}

.swap-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
}

.nav {
    flex: 0.5;
    border-radius: 0.25rem;
    background-color: var(--background-lighter);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.project {
    flex: 1;
    background-color: var(--background-darker);
    border-radius: 0.25rem;
    min-height: 20rem;
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    align-items: center;
}

.project-image-div {
    flex: 2;
    border-radius: 0.25rem;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 26rem;
}

.project-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex-wrap: wrap;
    margin-block: 0.5rem;
}

.project-text-description {
    flex: 2;
    flex-direction: column;
    display: block;
}

.project-text-description-title {
    margin-top: 0;
}

.project-text-information {
    gap: 0.5rem;
}

.project-text-information {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
}

.project-text-information p {
    margin: 0;
}

.project-text-information-paragraph {
    flex: 1;
}

.project-text-information-paragraph-subject {
    font-weight: bold;
}

.project-text-information-paragraph-object {}

.footer {
    min-height: 2rem;
}

.profile-section {
    padding-top: 0.5rem;
    flex: 0.5;
    background-color: var(--background-lighter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-section-image img {
    width: 6.25rem;
    /* Adjust the size as needed */
    height: 6.25rem;
    /* Adjust the size as needed */
    object-fit: cover;
    border-radius: 50%;
    border: 0.125rem solid var(--text-color);
}

.profile-section-name {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

.profile-section-description {
    font-size: 1rem;
    font-weight: bold;
}

.profile-description {
    flex: 1;
}

.profile-skills {
    flex: 1;
}

.profile-footer {
    padding-bottom: 0.5rem;
    flex: 0.5;
}

.nav-upper-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-lower-section {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.nav-button {
    width: 1.5rem;
    height: 1.5rem;
}

@media only screen and (max-width: 1100px) {
    .project {
        flex-direction: column;
        align-items: stretch;
    }

    .project-text {
        margin: 0;
        flex-direction: row;
        gap: 1rem;
    }

    .project-text-description {
        justify-content: space-between;
        flex: 1.5;
    }

    .project-text-description-title,
    .project-text-description-plot {
        margin: 0;
    }
}