:root {
    --background-lighter: #24242e;
    --background-lighter-rgb: 36, 36, 46;
    --background-normal: #20202a;
    --background-darker: #1e1e28;
    --text-color: #ffffff;
    --text-color-rgb: 255, 255, 255;
    --accent: #443dff;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

/*
[data-theme="dark"] {
    --background-lighter: #24242e;
    --background-normal: #20202a;
    --background-darker: #1e1e28;
    --text-color: #ffffff;
    --accent: #443dff;
}

[data-theme="light"] {
    --background-lighter: #f5f5f5;
    --background-normal: #ffffff;
    --background-darker: #e0e0e0;
    --text-color: #000000;
    --accent: #8292b3;
}
*/
[data-theme="dark"] {
    --background-lighter: rgba(36, 36, 46, 0.85);
    --background-lighter-hex: #24242e;
    --background-normal: rgba(32, 32, 42, 0.85);
    --background-normal-hex: #20202a;
    --background-darker: rgba(30, 30, 40, 0.55);
    --background-darker-hex: #1e1e28;
    --text-color: #ffffff;
    --accent: #443dff;
}

[data-theme="light"] {
    --background-lighter: rgba(245, 245, 245, 0.45);
    --background-normal: rgba(255, 255, 255, 0.45);
    --background-darker: rgba(224, 224, 224, 0.45);
    --background-lighter-hex: #f5f5f5;
    --background-normal-hex: #ffffff;
    --background-darker-hex: #e0e0e0;
    --text-color: #000000;
    --accent: #8292b3;
}



html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

body {
    position: relative;
    overflow: hidden;
}

.background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.background1,
.background2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 3s ease-in-out;
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.background1.active,
.background2.active {
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

p {
    font-size: 0.825rem;
}

.container {
    width: calc(100vmin * 1.5);
    height: 95%;
    max-width: 95%;
    box-sizing: border-box;
    display: flex;
    gap: 0.5rem;
    z-index: 5;
    backdrop-filter: blur(20px);
    --webkit-backdrop-filter: blur(20px);
}

.about {
    flex: 3.5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: var(--background-lighter);

}

.about-upper-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.about-lower-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.about-lower-section> :first-child {
    margin-top: auto;
}

.photo-name-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.photo-name-title * {
    margin: 0.25rem 0px 0.25rem 0px;
    align-self: center;
    text-align: center;
}

.profile-img {
    width: 6.25rem;
    /* Adjust the size as needed */
    height: 6.25rem;
    /* Adjust the size as needed */
    object-fit: cover;
    border-radius: 50%;
    border: 0.125rem solid var(--text-color);
}

.personal-description {
    position: relative;
    overflow: scroll;
    margin: 0.25rem 0px;
}

.personal-description::-webkit-scrollbar {
    width: 0.25rem;
    background: rgba(var(--background-lighter-rgb), 0.1);
}

.personal-description::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color-rgb), 0.1);
    border-radius: 0.25rem;
}

::-webkit-scrollbar-corner {
    background: rgba(var(--background-lighter-rgb), 0);
}


.personal-informations {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 0.5rem
}

.personal-informations p {
    margin: 0px;
}

.personal-informations div {
    display: flex;
    justify-content: space-between;
}




.button-fake-icon {
    width: 1.5rem;
    height: 1.5rem;
}

hr {
    margin: 0.75rem;
    width: 100%;
    opacity: 0.2;
}




.cv-download {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: small;

}

.cv-download:hover {
    text-decoration: underline;
}

.content {
    flex: 11;
    border-radius: 0.25rem;
    background-color: var(--background-lighter);
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.project {
    background-color: var(--background-darker);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.5rem;
    gap: 1rem;
}

.project * {
    margin: 0px;
}

.rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-lighter);
    color: var(--text-color);
    border-radius: 0.5rem;
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    box-shadow: var(--text-color) 0px 0px 2px;
    cursor: pointer;
}

.rectangle-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-lighter);
    color: var(--text-color);
    border-radius: 0.5rem;
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    box-shadow: var(--text-color) 0px 0px 2px;
}

.rectangle-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.rectangle-text {
    flex-grow: 1;
    margin-left: 1rem;
}

.rectangle-icon {
    color: var(--text-color);
    margin-right: 1rem;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.project-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.project-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    /* Regola l'altezza a seconda del design */
    border: none;
}

.tags {
    display: flex;
    gap: 0.375rem;
}

.tag {
    color: var(--text-color);
    border-radius: 0.25rem;
    padding: 0.375rem;
    font-size: 0.5rem;
    box-shadow: var(--text-color) 0px 0px 2px;
}

.clickable-tag {
    text-decoration: none;
    cursor: pointer;
}

.clickable-tag:hover {
    box-shadow: var(--text-color) 0px 0px 3px;
}

.hidden {
    display: none;
}

.section-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    overflow: hidden;
    transition: max-height 0.5s ease;
    align-self: flex-start;
}




.nav {
    flex: 0.5;
    border-radius: 0.25rem;
    background-color: var(--background-lighter);
    display: flex;
    flex-direction: column;
    padding: 1rem 0.25rem;
}

.nav-upper-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.nav-lower-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.nav-lower-section> :first-child {
    margin-top: auto;
}

.nav-button {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    background-color: var(--background-normal);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.nav-button:hover {
    background-color: var(--background-lighter);
}

button {
    border: none;
    background-color: var(--background-normal);
    color: var(--text-color);
    cursor: pointer;
}

button:focus,
button:hover {
    background-color: var(--background-darker);
}

pre {
    background-color: var(--background-darker);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 0.25rem;
    overflow-x: auto;
}

.snippet-tabs {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.snippet-rectangle {
    flex: 1 1 calc(50% - 0.5rem);
}

.snippet-content {
    background-color: var(--background-darker);
    border-radius: 0.25rem;
    overflow-x: auto;
}

.snippet-tabs button {
    background-color: var(--background-normal);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.snippet-tabs button.active {
    background-color: var(--background-darker);
}

.snippet-content {
    max-width: 100% !important;
    overflow-x: auto !important;
}

.snippet-content pre {
    white-space: pre-wrap;
    /* Allows code to wrap */
    word-break: break-all;
    /* Breaks long words to prevent overflow */
    overflow-x: auto;
}


.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    border-radius: 0.375rem;
    background-color: var(--background-darker);
    margin: 0 0 0.25rem 0;
    flex-shrink: 0;
    overflow-x: auto;
    gap: 1rem;
    padding: 0.5rem;
    position: relative;
    overflow: visible;
}



.navigation div {
    display: flex;
    text-align: center;
    align-items: center;
}

.navigation p {
    font-size: 0.625rem;
    height: 100%;
    color: rgba(var(--text-color-rgb), 0.65);
    margin: 0;
    transition: color 0.3s ease;
}

.nav-project-tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    position: relative;
    background-color: rgba(var(--text-color-rgb), 0.05) ;
}

.nav-project-preview {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: var(--background-darker-hex);
    border-radius: 0.375rem;
    box-shadow: var(--text-color) 0px 0px 3px;
    z-index: 999;
    width: 25vw;
    height: fit-content;
    text-wrap: wrap;
    padding: 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
}

.nav-project-tab:hover  .nav-project-preview {
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* Movimento verso l'alto */

}

.nav-preview-image {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.nav-preview-description {
    font-size: 0.75rem;
    color: var(--text-color);
    margin: 0;
    text-align: start;
}



.nav-project-tab:hover p {
    color: rgba(var(--text-color-rgb), 1) ;
}
.nav-project-tab.active {
    background-color: rgba(var(--text-color-rgb), 0.2)
}

.nav-project-tab.active p {
    color: rgba(var(--text-color-rgb), 1) ;

}

.nav-project-icon {
    width: 1.5rem;  /* Larghezza fissa */
    height: 1.5rem; /* Altezza fissa */
    object-fit: contain; /* Mantiene le proporzioni dell'immagine */
    object-position: center; /* Centra l'immagine nel box */
    background-color: transparent; /* Sfondo trasparente */
    margin-right: 0.5rem; /* Spazio tra l'icona e il testo */
    opacity: 0.65; /* Corrisponde all'opacità del testo */
    transition: opacity 0.3s ease;
}

.nav-project-tab:hover .nav-project-icon,
.nav-project-tab.active .nav-project-icon {
    opacity: 1; /* Icona completamente opaca su hover e quando attiva */
}

/* Stile per la barra di scorrimento orizzontale */
.navigation::-webkit-scrollbar {
    height: 4px;
}

.navigation::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 2px;
}

.navigation::-webkit-scrollbar-track {
    background-color: var(--background-lighter);
}

#swap-content {
    flex-grow: 1;
    overflow-y: auto;
    /* Aggiunge un po' di spazio per la scrollbar */
}

/* Stile opzionale per la scrollbar */
#swap-content::-webkit-scrollbar {
    width: 0.5rem;
}

#swap-content::-webkit-scrollbar-track {
    background: var(--background-normal);
}

#swap-content::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 20px;
    border: 3px solid var(--background-normal);
}



.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

[x-cloak] {
    display: none !important;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.image-container img,
.image-container iframe {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
}

.video-container {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.hidden {
    display: none;
}

.image-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 1;
    display: none;
}

.image-nav.prev {
    left: 10px;
}

.image-nav.next {
    right: 10px;
}

.image-container:hover .image-nav {
    display: block;
}


.icon-wrapper {
    display: flex;
    gap: 20px;
}

.icon-wrapper i {
    background-color: var(--text-color);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.icon-wrapper i svg {
    height: 1.25rem;
    fill: var(--background-darker-hex);
}

.icon-wrapper i::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: var(--background-darker);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
    pointer-events: none;
}

.icon-wrapper i:hover {
    background-color: var(--accent-color);
    fill: white;
}

.icon-wrapper i:hover::before {
    transform: translateX(-100px) rotate(0);
    opacity: 1;
}




.socials-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.socials-container a {
    background-color: var(--text-color);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.socials-container a svg {
    height: 1rem;
    fill: var(--background-darker-hex);
}

.socials-container a::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
    pointer-events: none;
}

.socials-container a:hover {
    background-color: var(--accent-color);
    fill: white;
}

.socials-container a:hover svg {
    fill: white;
}

.socials-container a::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
}

.socials-container a:hover::before {
    transform: translateY(-50px) rotate(0);
    opacity: 1;
}

.socials-container a:hover::after {
    transform: translateY(-27px) rotate(0);
    opacity: 1;
}


@media (max-width: 1000px) {

    .about {
        position: fixed;
        top: 0;
        height: 95%;
        z-index: 1000;
        background-color: var(--background-lighter-hex);
        overflow-y: auto;
        box-shadow: var(--text-color) 0px 0px 5px;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
        visibility: hidden;
        margin: 2.5%;
        left: 0;
        transform: translateX(-100%);
        width: 35%;
    }



    .about.show {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .about-icon {
        display: block;
        width: 50px;
        height: 50px;
        background-color: var(--background-lighter);
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1001;
        box-shadow: var(--text-color) 0px 0px 5px;
    }

    .about-icon::before {
        content: '\2630';
        /* Unicode for hamburger menu icon */
        font-size: 24px;
        color: var(--text-color);
    }
    .nav-project-preview {
        width: 50vw;
}
}

@media (max-width: 600px) {

    .snippet-rectangle {
        flex: 1 1 100%;
        /* Su schermi stretti, gli elementi occuperanno il 100% della larghezza */
    }
}

@media (max-width: 450px) {
.content {
    max-width: 80vw;
}
.navigation {
    max-width: 80vw;
    overflow-x: scroll;
}
.project-title {
    display: block;
}
.tags {

margin-top: 1rem;
flex-wrap: wrap; /* Permette di avvolgere gli elementi su più righe */
    gap: 0.5rem; /* Spazio tra gli elementi */
}
.tags .tag {
    flex: 1 1 calc(50% - 0.5rem); /* Ogni tag occupa il 50% della larghezza meno il gap */
    box-sizing: border-box; /* Assicura che il padding non modifichi la larghezza */
}
.snippet-tabs {
    display: none;
}


}
