<!DOCTYPE html>
<html>

<head>
    <title>HTMX with FastAPI</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/static/css/style.css">

    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>

    <style>
        #about {
            padding: 80px 40px; /* Spazio per evitare la sovrapposizione con la navbar */
        }
    </style>
</head>

<body>
    <nav>
        <button hx-get="/home" hx-target="#content" hx-swap="innerHTML">Home</button>
        <button id="partner-btn" hx-get="/home" hx-target="#content" hx-swap="innerHTML" hx-trigger="click"
            data-scroll="portfolio">Portfolio</button>
        <button id="partner-btn" hx-get="/home" hx-target="#content" hx-swap="innerHTML" hx-trigger="click"
            data-scroll="blog">Blog</button>
        <button hx-get="/resume" hx-target="#content" hx-swap="innerHTML">Resume</button>
    </nav>

    <section id="about" class="about-me">
        <div class="profile-pic">
            <img src="https://via.placeholder.com/150" alt="Profile Picture">
        </div>
        <div class="about-details">
            <div class="name">John Doe</div>
            <div class="title">Software Engineer</div>
            <div class="social-links">
                <a href="#"><img src="https://via.placeholder.com/16" alt="Icon 1"></a>
                <a href="#"><img src="https://via.placeholder.com/16" alt="Icon 2"></a>
                <a href="#"><img src="https://via.placeholder.com/16" alt="Icon 3"></a>
            </div>
        </div>
    </section>
    
    <div id="content">
        {% include 'home.html' %}
    </div>

    <script>
        document.addEventListener('htmx:afterSwap', function (event) {
            const triggerElement = event.detail.requestConfig.elt;
            const scrollTarget = triggerElement.getAttribute('data-scroll');
            if (scrollTarget) {
                const targetElement = document.getElementById(scrollTarget);
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                }
            } else {
                // Scroll to the top of the page
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
        });
    </script>

</body>

</html>